@import '../variables.scss';
@import '../utilities.scss';

.Timebox {
   position: relative;
   border: $default-border;
   border-radius: $default-border-radius;
   padding: 10px;
   margin-bottom: 5px;
   z-index: 99;
   background-color: rgb(91, 178, 255);
}
.Timebox--red {
   background-color: rgb(255, 121, 121);
}
.Timebox--yellow {
   background-color: rgb(253, 253, 145)
}
.Timebox--blue {
   background-color: rgb(91, 178, 255);
}
