@import '../variables.scss';
@import '../utilities.scss';

.TimeboxCreator {
   border: $default-border;
   border-radius: $default-border-radius;
   padding: 20px;
   text-align: right;
   background-color: rgb(0, 132, 247);
   margin-bottom: 10px;
   input, select {
      min-width: 50%;
      margin-left: 20px;
      font-size: 1em;
   }
   button {
      font-size: 1em;
      margin-left: 10px;
   }
}