@import 'base.scss';

.TimeboxEditor,
.TimeboxCreator {
   border: 1px solid rgb(128, 128, 128);
   border-radius: 5px;
   padding: 20px;
   text-align: right;
}

.TimeboxCreator {
background-color: rgb(0, 132, 247);
margin-bottom: 10px;
}

input {
min-width: 60%;
margin-left: 20px;
font-size: 1em;
}

button {
font-size: 1em;
margin-left: 10px;
}

.TimeboxEditor {
background-color: rgb(249, 255, 143);
margin-top: 10px;
}

.CurrentTimebox {
margin-top: 5px;
text-align: center;
border: 1px solid gray;
border-radius: 5px;
padding: 20px;
background-color: rgb(249, 255, 143);
}

.Timebox {
position: relative;
border: 1px solid gray;
border-radius: 5px;
padding: 10px;
margin-bottom: 5px;
z-index: 99;
background-color: rgb(91, 178, 255);
}

.TimeboxEditer {
background-color: white;
position: absolute;
width: 100%;
height: 100%;
border: 1px solid gray;
border-radius: 5px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 100;
}

.TimeboxEditer.unactive {
display: none;
}

.TimeboxEditer form {
margin: 0;
height: 100%;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}

.TimeboxEditer form input {
min-width: 1%;
max-width: 50%;
}

.TimeboxEditer form input:nth-child(2) {
min-width: 1%;
max-width: 10%;
}

.Clock {
color: orangered;
}

.ProgressBar {
box-sizing: border-box;
border: 1px solid orangered;
border-radius: 5px;
margin-bottom: 20px;
height: 25px;
padding: 4px;
display: flex;
align-items: center;
width: 100%;
}

.inactive {
filter: blur(2px) grayscale(1);
}