@import '../variables.scss';
@import '../utilities.scss';

.CurrentTimebox {
   margin-top: 5px;
   text-align: center;
   border: $default-border;
   border-radius: $default-border-radius;
   padding: 20px;
   background-color: rgb(249, 255, 143);
}