@import '../variables.scss';
@import '../utilities.scss';
.App {
   font-family: monospace, sans-serif;
}

.Header {
   display: flex;
   padding: 20px;
   justify-content: flex-end;
   &__logout {
      margin-left: 10px;
   }
}